{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="antialiased sans-serif bg-gray-200 h-screen">
	
	<div class="container mx-auto py-6 px-4">
		<h1 class="text-3xl py-4 border-b mb-10">Affiliate Programs</h1>
		<div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative"
			style="height: 405px;">
			<table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
				<thead>
					<tr class="text-left">
						<th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
							Service
						</th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
							Earnings
						</th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
							Type
						</th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
							Link
						</th>
					</tr>
				</thead>
				
                
                <tbody>
		
						<tr>
                            {% for record in records %}
                                <td class="border-dashed border-t border-gray-200 userId">
                                    <span class="text-gray-700 px-6 py-3 flex font-semibold items-center hover:text-red-600 decoration-2 hover:underline">
                                        <a href={{record.link}} >
                                            {{record.service}}
                                        </a>
                                    </span>
                                </td>
                            
                                <td class="border-dashed border-t border-gray-200 userId">
                                    <span class="text-gray-700 px-6 py-3 flex items-center">{{record.earnings}}</span>
                                </td>
                                <td class="border-dashed border-t border-gray-200 userId">
                                    <span class="text-gray-700 px-6 py-3 flex items-center">{{record.type}}</span>
                                </td>
                                <td class="border-dashed border-t border-gray-200 userId">
                                    <span class="text-gray-700 px-6 py-3 flex items-center font-semibold items-center hover:text-red-600 decoration-2 hover:underline">
                                        <a href={{record.link}}>{{record.link}}</a>
                                    </span>
                                </td>
                            {% endfor %}
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}